[submodule "config/vim-plug"]
	path = config/vim-plug
	url = https://github.com/junegunn/vim-plug.git
	branch = master
[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".plugins/dotbot-rust"]
	path = .plugins/dotbot-rust
	url = https://github.com/combro2k/dotbot-rust.git
[submodule ".plugins/dotbot-pip"]
	path = .plugins/dotbot-pip
	url = https://github.com/combro2k/dotbot-pip.git
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
	branch = master
[submodule "config/base16-rofi"]
	path = config/base16-rofi
	url = https://github.com/0xdec/base16-rofi.git
	branch = master
[submodule "config/base16-gtk2"]
	path = config/base16-gtk2
	url = https://github.com/dawikur/base16-gtk2.git
	branch = master
[submodule "config/emacs/evil"]
	path = config/emacs/evil
	url = https://github.com/emacs-evil/evil
	branch = master
