[submodule "config/spacemacs"]
	path = config/spacemacs
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "config/vim-plug"]
	path = config/vim-plug
	url = https://github.com/junegunn/vim-plug.git
	branch = master
[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".plugins/dotbot-rust"]
	path = .plugins/dotbot-rust
	url = https://github.com/combro2k/dotbot-rust.git
[submodule ".plugins/dotbot-pip"]
	path = .plugins/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
