
!        __  __
!        \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!         \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!         /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!        /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/

#define bgcolor #1d1f21
#define fgcolor #c5c8c6

*TkTheme: clearlooks
Xcursor.theme: DMZ-White
URxvt.scrollBar: false
URxvt.intensityStyles: false

! Theme: tomorrow.dark

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

XTerm*background: bgcolor
XTerm*foreground: fgcolor

XTerm*reverseVideo: off
!! XTerm*faceName: Terminus:size=11:antialias=true
XTerm*faceName: SauceCodePro Nerd Font:style=Light:size=11:antialias=true
xTerm*selectToClipboard: true

!! URxvt.font: 9x15
URxvt.depth: 32
!! URxvt.background: [80]#000000
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*background:                     bgcolor
URxvt*foreground:                     fgcolor
Urxvt*saveLines:                      1000

!! https://aur.archlinux.org/packages/nerd-fonts-complete/
!! URxvt.font: xft:DroidSansMono Nerd Font Mono:style=Book:size=10:antialias=true:hinting=true
!! URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=10:style=Book:antialias=true
!! URxvt.font: xft:TerminessTTF Nerd Font Mono:Book:size=12:antialias=true:hinting=true
URxvt.font: xft:SauceCodePro Nerd Font:style=Light:size=12:antialias=true

!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

URxvt*skipBuiltinGlyphs: true

URxvt*termName: rxvt-unicode
URxvt.letterSpace: 0
URxvt.perl-ext-common: default,resize-font
URxvt.imLocale:	en_US.UTF-8

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

!! https://wilmer.gaa.st/blog/archives/36-rxvt-unicode-and-ISO-14755-mode.html
URxvt.iso14755: false
URxvt.iso14755_52: false
