
!        __  __
!        \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!         \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!         /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!        /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/

#define bgcolor #1d1f21
#define fgcolor #c5c8c6

*TkTheme: clearlooks
Xcursor.theme: DMZ-White

!! Theme: tomorrow.dark

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

XTerm*background: bgcolor
XTerm*foreground: fgcolor

XTerm*reverseVideo: off
! XTerm*faceName: Terminus:size=11:antialias=true
XTerm*faceName: SauceCodePro Nerd Font:style=Light:size=11:antialias=true
xTerm*selectToClipboard: true


!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

!-- URxvt Specifics -- !
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*background:                     bgcolor
URxvt*foreground:                     fgcolor
Urxvt*saveLines:                      100000

! URxvt.font: xft:DroidSansMono Nerd Font Mono:style=Book:size=10:antialias=true:hinting=true
! URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=10:style=Book:antialias=true
! URxvt.font: xft:TerminessTTF Nerd Font Mono:Book:size=12:antialias=true:hinting=true
URxvt.font: xft:SauceCodePro Nerd Font:style=Light:size=12:antialias=true

URxvt*skipBuiltinGlyphs:  true
URxvt*termName:           rxvt-unicode
URxvt.letterSpace:        0
URxvt.perl-ext-common:    default,resize-font
URxvt.imLocale:	          en_US.UTF-8

URxvt.keysym.C-equal:     font-size:increase
URxvt.keysym.C-minus:     font-size:decrease
URxvt.keysym.C-S-equal:   font-size:incglobal
URxvt.keysym.C-S-minus:   font-size:decglobal
URxvt.keysym.C-0:         font-size:reset
URxvt.keysym.C-slash:     font-size:show

URxvt.scrollBar:          false
URxvt.intensityStyles:    false
URxvt.urgentOnBell:       false
URxvt.visualBell:         false
URxvt.iso14755:           false
URxvt.iso14755_52:        false
URxvt.meta8:              true
URxvt.depth:              32

URxvt*scrollTtyOutput:    false
URxvt*scrollWithBuffer:   true
URxvt*scrollTtyKeypress:  true

urxvt*urlLauncher:        firefox

!-- other adjustments -- !
rofi.color-enabled:       true
rofi.color-window:        #e5e5e5, #000000, #000000

rofi.opacity:             100
rofi.width:               90
rofi.lines:               25
rofi.font:                Iosevka Medium 10
rofi.location:            0
rofi.padding:             5

!(call-process-shell-command "xrdb -load ~/.Xresources")
