# Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)

[global_config]
  title_transmit_fg_color = "#bdb6c5"
  title_transmit_bg_color = "#190134"
  title_inactive_fg_color = "#bdb6c5"
  title_inactive_bg_color = "#7b6d8b"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#190134"
    foreground_color = "#bdb6c5"
    cursor_color = "#bdb6c5"
    palette = "#190134:#27d9d5:#c33678:#8f6c97:#bd0152:#82034c:#f80059:#bdb6c5:#7b6d8b:#5ba2b6:#392551:#5a496e:#9c92a8:#dedae2:#470546:#feffff"
