# Base16 Material Palenight
# Author: Nate Peterson

[global_config]
  title_transmit_fg_color = "#959dcb"
  title_transmit_bg_color = "#292d3e"
  title_inactive_fg_color = "#959dcb"
  title_inactive_bg_color = "#676e95"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#292d3e"
    foreground_color = "#959dcb"
    cursor_color = "#959dcb"
    palette = "#292d3e:#f07178:#c3e88d:#ffcb6b:#82aaff:#c792ea:#89ddff:#959dcb:#676e95:#f78c6c:#444267:#32374d:#8796b0:#959dcb:#ff5370:#ffffff"
