# Base16 Qualia
# Author: isaacwhanson

[global_config]
  title_transmit_fg_color = "#c0c0c0"
  title_transmit_bg_color = "#101010"
  title_inactive_fg_color = "#c0c0c0"
  title_inactive_bg_color = "#454545"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#101010"
    foreground_color = "#c0c0c0"
    cursor_color = "#c0c0c0"
    palette = "#101010:#efa6a2:#80c990:#e6a3dc:#50cacd:#e0af85:#c8c874:#c0c0c0:#454545:#a3b8ef:#454545:#454545:#808080:#c0c0c0:#808080:#454545"
