# Base16 Framer
# Author: Framer (Maintained by Jesse Hoyos)

[global_config]
  title_transmit_fg_color = "#d0d0d0"
  title_transmit_bg_color = "#181818"
  title_inactive_fg_color = "#d0d0d0"
  title_inactive_bg_color = "#747474"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#181818"
    foreground_color = "#d0d0d0"
    cursor_color = "#d0d0d0"
    palette = "#181818:#fd886b:#32ccdc:#fecb6e:#20bcfc:#ba8cfc:#acddfd:#d0d0d0:#747474:#fc4769:#151515:#464646:#b9b9b9:#e8e8e8:#b15f4a:#eeeeee"
