# Base16 Horizon Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

[global_config]
  title_transmit_fg_color = "#cbced0"
  title_transmit_bg_color = "#1c1e26"
  title_inactive_fg_color = "#cbced0"
  title_inactive_bg_color = "#6f6f70"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1c1e26"
    foreground_color = "#cbced0"
    cursor_color = "#cbced0"
    palette = "#1c1e26:#e93c58:#efaf8e:#efb993:#df5273:#b072d1:#24a8b4:#cbced0:#6f6f70:#e58d7d:#232530:#2e303e:#9da0a2:#dcdfe4:#e4a382:#e3e6ee"
