# Base16 Material Darker
# Author: Nate Peterson

[global_config]
  title_transmit_fg_color = "#eeffff"
  title_transmit_bg_color = "#212121"
  title_inactive_fg_color = "#eeffff"
  title_inactive_bg_color = "#4a4a4a"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#212121"
    foreground_color = "#eeffff"
    cursor_color = "#eeffff"
    palette = "#212121:#f07178:#c3e88d:#ffcb6b:#82aaff:#c792ea:#89ddff:#eeffff:#4a4a4a:#f78c6c:#303030:#353535:#b2ccd6:#eeffff:#ff5370:#ffffff"
