# Base16 OceanicNext
# Author: https://github.com/voronianski/oceanic-next-color-scheme

[global_config]
  title_transmit_fg_color = "#c0c5ce"
  title_transmit_bg_color = "#1b2b34"
  title_inactive_fg_color = "#c0c5ce"
  title_inactive_bg_color = "#65737e"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1b2b34"
    foreground_color = "#c0c5ce"
    cursor_color = "#c0c5ce"
    palette = "#1b2b34:#ec5f67:#99c794:#fac863:#6699cc:#c594c5:#5fb3b3:#c0c5ce:#65737e:#f99157:#343d46:#4f5b66:#a7adba:#cdd3de:#ab7967:#d8dee9"
