# Base16 Materia
# Author: Defman21

[global_config]
  title_transmit_fg_color = "#cdd3de"
  title_transmit_bg_color = "#263238"
  title_inactive_fg_color = "#cdd3de"
  title_inactive_bg_color = "#707880"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#263238"
    foreground_color = "#cdd3de"
    cursor_color = "#cdd3de"
    palette = "#263238:#ec5f67:#8bd649:#ffcc00:#89ddff:#82aaff:#80cbc4:#cdd3de:#707880:#ea9560:#2c393f:#37474f:#c9ccd3:#d5dbe5:#ec5f67:#ffffff"
