# Base16 Silk Light
# Author: Gabriel Fontes (https://github.com/Misterio77)

[global_config]
  title_transmit_fg_color = "#385156"
  title_transmit_bg_color = "#e9f1ef"
  title_inactive_fg_color = "#385156"
  title_inactive_bg_color = "#5c787b"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#e9f1ef"
    foreground_color = "#385156"
    cursor_color = "#385156"
    palette = "#e9f1ef:#cf432e:#6ca38c:#cfad25:#39aac9:#6e6582:#329ca2:#385156:#5c787b:#d27f46:#ccd4d3:#90b7b6:#4b5b5f:#0e3c46:#865369:#d2faff"
