# Base16 Material Lighter
# Author: Nate Peterson

[global_config]
  title_transmit_fg_color = "#80cbc4"
  title_transmit_bg_color = "#fafafa"
  title_inactive_fg_color = "#80cbc4"
  title_inactive_bg_color = "#ccd7da"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#fafafa"
    foreground_color = "#80cbc4"
    cursor_color = "#80cbc4"
    palette = "#fafafa:#ff5370:#91b859:#ffb62c:#6182b8:#7c4dff:#39adb5:#80cbc4:#ccd7da:#f76d47:#e7eaec:#cceae7:#8796b0:#80cbc4:#e53935:#ffffff"
