# Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)

[global_config]
  title_transmit_fg_color = "#a39a90"
  title_transmit_bg_color = "#16130f"
  title_inactive_fg_color = "#a39a90"
  title_inactive_bg_color = "#5a5047"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#16130f"
    foreground_color = "#a39a90"
    cursor_color = "#a39a90"
    palette = "#16130f:#826d57:#57826d:#6d8257:#6d5782:#82576d:#576d82:#a39a90:#5a5047:#828257:#2c2620:#433b32:#8a8075:#beb6ae:#825757:#dbd6d1"
