# Base16 Apathy
# Author: Jannik Siebert (https://github.com/janniks)

[global_config]
  title_transmit_fg_color = "#81b5ac"
  title_transmit_bg_color = "#031a16"
  title_inactive_fg_color = "#81b5ac"
  title_inactive_bg_color = "#2b685e"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#031a16"
    foreground_color = "#81b5ac"
    cursor_color = "#81b5ac"
    palette = "#031a16:#3e9688:#883e96:#3e4c96:#96883e:#4c963e:#963e4c:#81b5ac:#2b685e:#3e7996:#0b342d:#184e45:#5f9c92:#a7cec8:#3e965b:#d2e7e4"
