# Base16 Solar Flare
# Author: Chuck Harmston (https://chuck.harmston.ch)

[global_config]
  title_transmit_fg_color = "#a6afb8"
  title_transmit_bg_color = "#18262f"
  title_inactive_fg_color = "#a6afb8"
  title_inactive_bg_color = "#667581"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#18262f"
    foreground_color = "#a6afb8"
    cursor_color = "#a6afb8"
    palette = "#18262f:#ef5253:#7cc844:#e4b51c:#33b5e1:#a363d5:#52cbb0:#a6afb8:#667581:#e66b2b:#222e38:#586875:#85939e:#e8e9ed:#d73c9a:#f5f7fa"
