# Base16 Nova
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)

[global_config]
  title_transmit_fg_color = "#c5d4dd"
  title_transmit_bg_color = "#3c4c55"
  title_inactive_fg_color = "#c5d4dd"
  title_inactive_bg_color = "#899ba6"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#3c4c55"
    foreground_color = "#c5d4dd"
    cursor_color = "#c5d4dd"
    palette = "#3c4c55:#83afe5:#7fc1ca:#a8ce93:#83afe5:#9a93e1:#f2c38f:#c5d4dd:#899ba6:#7fc1ca:#556873:#6a7d89:#899ba6:#899ba6:#f2c38f:#556873"
