# Base16 Summerfruit Light
# Author: Christopher Corley (http://christop.club/)

[global_config]
  title_transmit_fg_color = "#101010"
  title_transmit_bg_color = "#ffffff"
  title_inactive_fg_color = "#101010"
  title_inactive_bg_color = "#b0b0b0"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#ffffff"
    foreground_color = "#101010"
    cursor_color = "#101010"
    palette = "#ffffff:#ff0086:#00c918:#aba800:#3777e6:#ad00a1:#1faaaa:#101010:#b0b0b0:#fd8900:#e0e0e0:#d0d0d0:#000000:#151515:#cc6633:#202020"
