# Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)

[global_config]
  title_transmit_fg_color = "#dedee7"
  title_transmit_bg_color = "#222222"
  title_inactive_fg_color = "#dedee7"
  title_inactive_bg_color = "#644646"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#222222"
    foreground_color = "#dedee7"
    cursor_color = "#dedee7"
    palette = "#222222:#c88c8c:#99c899:#d8b56d:#537c9c:#86cacd:#78b4b4:#dedee7:#644646:#476c88:#313131:#555d55:#5a5a5a:#c3c3b4:#704f4f:#ffffe6"
