# Base16 Apprentice
# Author: romainl

[global_config]
  title_transmit_fg_color = "#bcbcbc"
  title_transmit_bg_color = "#262626"
  title_inactive_fg_color = "#bcbcbc"
  title_inactive_bg_color = "#6c6c6c"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#262626"
    foreground_color = "#bcbcbc"
    cursor_color = "#bcbcbc"
    palette = "#262626:#5f8787:#87af87:#5f8787:#ffffaf:#87afd7:#5f875f:#bcbcbc:#6c6c6c:#ff8700:#303030:#333333:#787878:#c9c9c9:#5f87af:#ffffff"
