# Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)

[global_config]
  title_transmit_fg_color = "#403c3d"
  title_transmit_bg_color = "#fdf0ed"
  title_inactive_fg_color = "#403c3d"
  title_inactive_bg_color = "#bdb3b1"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#fdf0ed"
    foreground_color = "#403c3d"
    cursor_color = "#403c3d"
    palette = "#fdf0ed:#f7939b:#94e1b0:#fbe0d9:#da103f:#1d8991:#dc3318:#403c3d:#bdb3b1:#f6661e:#fadad1:#f9cbbe:#948c8a:#302c2d:#e58c92:#201c1d"
