# Base16 DanQing
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

[global_config]
  title_transmit_fg_color = "#e0f0ef"
  title_transmit_bg_color = "#2d302f"
  title_inactive_fg_color = "#e0f0ef"
  title_inactive_bg_color = "#9da8a3"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#2d302f"
    foreground_color = "#e0f0ef"
    cursor_color = "#e0f0ef"
    palette = "#2d302f:#f9906f:#8ab361:#f0c239:#b0a4e3:#cca4e3:#30dff3:#e0f0ef:#9da8a3:#b38a61:#434846:#5a605d:#cad8d2:#ecf6f2:#ca6924:#fcfefd"
