# Base16 Brush Trees
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

[global_config]
  title_transmit_fg_color = "#6d828e"
  title_transmit_bg_color = "#e3efef"
  title_inactive_fg_color = "#6d828e"
  title_inactive_bg_color = "#98afb5"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#e3efef"
    foreground_color = "#6d828e"
    cursor_color = "#6d828e"
    palette = "#e3efef:#b38686:#87b386:#aab386:#868cb3:#b386b2:#86b3b3:#6d828e:#98afb5:#d8bba2:#c9dbdc:#b0c5c8:#8299a1:#5a6d7a:#b39f9f:#485867"
