# Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)

[global_config]
  title_transmit_fg_color = "#939599"
  title_transmit_bg_color = "#282b35"
  title_inactive_fg_color = "#939599"
  title_inactive_bg_color = "#686a71"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#282b35"
    foreground_color = "#939599"
    cursor_color = "#939599"
    palette = "#282b35:#b21889:#df0002:#438288:#790ead:#b21889:#00a0be:#939599:#686a71:#786dc5:#3d4048:#53555d:#7e8086:#a9aaae:#c77c48:#bebfc2"
