# Base16 Solar Flare Light
# Author: Chuck Harmston (https://chuck.harmston.ch)

[global_config]
  title_transmit_fg_color = "#586875"
  title_transmit_bg_color = "#f5f7fa"
  title_inactive_fg_color = "#586875"
  title_inactive_bg_color = "#85939e"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f5f7fa"
    foreground_color = "#586875"
    cursor_color = "#586875"
    palette = "#f5f7fa:#ef5253:#7cc844:#e4b51c:#33b5e1:#a363d5:#52cbb0:#586875:#85939e:#e66b2b:#e8e9ed:#a6afb8:#667581:#222e38:#d73c9a:#18262f"
