# Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)

[global_config]
  title_transmit_fg_color = "#d0d0fa"
  title_transmit_bg_color = "#00002a"
  title_inactive_fg_color = "#d0d0fa"
  title_inactive_bg_color = "#50507a"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#00002a"
    foreground_color = "#d0d0fa"
    cursor_color = "#d0d0fa"
    palette = "#00002a:#ff4242:#59f176:#f3e877:#66b0ff:#f10596:#0ef0f0:#d0d0fa:#50507a:#fc8d28:#20204a:#30305a:#b0b0da:#e0e0ff:#f003ef:#f5f5ff"
