[Desktop Entry]
Categories=Network;RemoteAccess;GTK;
Encoding=UTF-8
Version=1.0
Name=RDP
GenericName=Remote Desktop Protocol
Comment=RDP
Exec=.config/qtile/rdp.py
Icon=preferences-desktop-remote-desktop
Terminal=false
StartupNotify=true
Type=Application

