git+https://github.com/combro2k/xfreerdp-python3-ui.git xfreerdpui
git+https://github.com/combro2k/qtile-actionmenu.git qtile-actionmenu
git+https://github.com/combro2k/qtile-contextmenu.git qtile-contextmenu
git+https://github.com/combro2k/lastpass-gtk.git lastpassgtk
glances[docker,cpuinfo]
base16-shell-preview
tmuxp
qutebrowser
pybase16-builder
